<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TacticaSoftExamen.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="TacticaSoftExamen.My.MySettings.ReportesConnectionString"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=pruebademo;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <applicationSettings>
        <TacticaSoftExamen.My.MySettings>
            <setting name="SqlConnectionString" serializeAs="String">
                <value>Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=pruebademo;Integrated Security=True;</value>
            </setting>
        </TacticaSoftExamen.My.MySettings>
    </applicationSettings>
</configuration>